# Compiled Object files
*.slo
*.lo
*.o
*.gch
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Scons
.sconsign.dblite

# Building
build-*/
debug-main/
release-main/
debug-test/
release-test/
nbproject/
*.orig

# Eclipse
.cproject
.externalToolBuilders/
.project

# Output
output.txt
*.out
*.err
*.sh
*.reads.*
velvet/
*.cap.*
*contigs*
